@keyframes bars {
  0% {
    opacity: 0;
    transform: scaleY(0.5);
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 0%;
  }
}
@keyframes apparition {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1, h3 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-family: Shrikhand, sans-serif;
  color: white;
  font-weight: lighter;
}

p {
  font-size: 16px;
  color: rgb(135, 135, 135);
}

.btn-search {
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  padding: 15px 30px;
  cursor: pointer;
  margin: 20px 0 0 0;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC); /* changer plus tard en mixin*/
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /*changer plus tard en variable - $btn-shadow*/
}
.btn-search:hover {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5); /*changer plus tard en variable - $btn-shadow-hover*/
}

.bloc-function button {
  position: relative;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
  background-color: rgb(248, 248, 248);
  font-size: 15px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /*changer plus tard en variable - $btn-shadow*/
}
.bloc-function button i {
  color: rgb(135, 135, 135);
}
.bloc-function button:hover {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5); /*changer plus tard en variable - $btn-shadow-hover*/
  background-color: rgba(147, 86, 220, 0.2); /*changer plus tard en variable - $btn-hover*/
}
.bloc-function button:hover i {
  color: #9356DC;
}

.header {
  display: flex;
  justify-content: center;
  position: relative;
}

.header img {
  width: 60%;
  max-width: 650px;
  margin: 20px 0;
}

.load-container {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: apparition 1500ms 3s ease-in-out forwards;
}

.load {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
}
.load__bar {
  background-image: linear-gradient(to bottom, #FF79DA, #9356dc, #99E2D0);
  height: 100%;
  width: 10px;
  border-radius: 30px;
  animation: bars 1000ms backwards ease-in-out alternate;
  animation-iteration-count: 4.5;
}
.load__bar--1 {
  animation-delay: 200ms;
}
.load__bar--1-inv {
  animation-delay: 200ms;
  animation-direction: alternate-reverse;
  background-image: linear-gradient(to top, #FF79DA, #9356dc, #99E2D0);
}
.load__bar--2 {
  animation-delay: 400ms;
}
.load__bar--2-inv {
  animation-delay: 400ms;
  animation-direction: alternate-reverse;
  background-image: linear-gradient(to top, #FF79DA, #9356dc, #99E2D0);
}
.load__bar--3 {
  animation-delay: 600ms;
}
.load__bar--3-inv {
  animation-delay: 600ms;
  animation-direction: alternate-reverse;
  background-image: linear-gradient(to top, #FF79DA, #9356dc, #99E2D0);
}
.load__bar--4 {
  animation-delay: 800ms;
}
.load__bar--4-inv {
  animation-delay: 800ms;
  animation-direction: alternate-reverse;
  background-image: linear-gradient(to top, #FF79DA, #9356dc, #99E2D0);
}
.load__bar--5 {
  animation-delay: 1000ms;
}
.load__bar--5-inv {
  animation-delay: 1000ms;
  animation-direction: alternate-reverse;
  background-image: linear-gradient(to top, #FF79DA, #9356dc, #99E2D0);
}

.search {
  display: block;
}

.location-search {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgb(235, 235, 235);
  box-shadow: inset 0 3px 3px rgb(190, 190, 190);
  padding: 20px;
}

.fa-location-dot {
  display: flex;
  justify-content: center;
}

.text-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  background-color: rgb(248, 248, 248);
  padding: 40px;
}

.function-menu {
  display: block;
  margin: 40px 15px 15px 15px;
}

.bloc-function {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 5px;
  margin-top: 15px;
}
.bloc-function i {
  padding-right: 20px;
}

.numb-btn-function {
  position: absolute;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background-color: #9356DC;
  display: grid;
  align-items: center;
  transform: translate(-125%, -30%);
}

#restaurants {
  display: block;
  width: 100%;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: rgb(248, 248, 248);
}

#restaurants h1 {
  margin-left: 15px;
}

.bloc-rest {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
  padding: 5px;
  margin-top: 15px;
}

.card-rest {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 15px;
  height: 225px;
}

.card-rest-img {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  max-height: 250px;
  flex-grow: 1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /*changer plus tard en variable - $btn-shadow*/
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}
.card-rest-img p {
  text-align: left;
  margin-left: 15px;
}
.card-rest-img:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5); /*changer plus tard en variable - $btn-shadow-hover*/
}
.card-rest-img i {
  color: rgb(190, 190, 190);
}
.card-rest-img i:active {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.8s ease-in-out;
}

.img-rest {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  height: 70%;
}

.card-rest-img-text {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: 15px 15px 0 15px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(60, 60, 60);
  padding: 25px;
  padding-top: 20px;
  gap: 10px;
}
footer a {
  color: white;
}
footer i {
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
