@keyframes bars {
  0% {
    opacity: 0;
    transform: scaleY(0.5);
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 0%;
  }
}
@keyframes apparition {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes heart-anim {
  0% {
    stroke: #9356DC;
    stroke-width: 9;
    stroke-dashoffset: 0;
  }
  25% {
    stroke: #9356DC;
    stroke-dashoffset: 1560;
    fill: transparent;
  }
  50% {
    stroke: #9356DC;
    stroke-dashoffset: 3120;
    fill: url(#lg-heart);
    opacity: 15%;
  }
  75% {
    stroke-dashoffset: 3120;
    stroke: none;
    fill: url(#lg-heart);
    opacity: 25%;
  }
  100% {
    stroke: none;
    fill: url(#lg-heart);
    opacity: 100%;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(35%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes shake {
  25% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(-5%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1, h3 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-family: Shrikhand, sans-serif;
  color: white;
  font-weight: lighter;
}

p {
  font-size: 16px;
  color: rgb(135, 135, 135);
}

.btn-gradient {
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  padding: 15px 30px;
  cursor: pointer;
  margin: 20px 0 0 0;
  background-image: linear-gradient(to bottom, #FF79DA, #9356dc);
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.btn-gradient:hover {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

.bloc-function button {
  position: relative;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
  background-color: rgb(248, 248, 248);
  font-size: 15px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.bloc-function button i {
  color: rgb(135, 135, 135);
}
.bloc-function button:hover {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  background-color: rgba(147, 86, 220, 0.2);
}
.bloc-function button:hover i {
  color: #9356DC;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header img {
  width: 60%;
  max-width: 650px;
  margin: 20px 0;
}
.header i {
  position: absolute;
  left: 20px;
  font-size: 25px;
}

.load-container {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: apparition 1.5s 3s ease-in-out forwards;
}

.load {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
}
.load__bar {
  background-image: linear-gradient(to bottom, #FF79DA, #9356dc, #99E2D0);
  height: 100%;
  width: 10px;
  border-radius: 30px;
  animation: bars 1s backwards ease-in-out alternate;
  animation-iteration-count: 4.5;
}
.load__bar--1 {
  animation-delay: 0.2s;
}
.load__bar--1-inv {
  animation-delay: 0.2s;
  animation-direction: alternate-reverse;
  background-image: linear-gradient(to top, #FF79DA, #9356dc, #99E2D0);
}
.load__bar--2 {
  animation-delay: 0.4s;
}
.load__bar--2-inv {
  animation-delay: 0.4s;
  animation-direction: alternate-reverse;
  background-image: linear-gradient(to top, #FF79DA, #9356dc, #99E2D0);
}
.load__bar--3 {
  animation-delay: 0.6s;
}
.load__bar--3-inv {
  animation-delay: 0.6s;
  animation-direction: alternate-reverse;
  background-image: linear-gradient(to top, #FF79DA, #9356dc, #99E2D0);
}
.load__bar--4 {
  animation-delay: 0.8s;
}
.load__bar--4-inv {
  animation-delay: 0.8s;
  animation-direction: alternate-reverse;
  background-image: linear-gradient(to top, #FF79DA, #9356dc, #99E2D0);
}
.load__bar--5 {
  animation-delay: 1s;
}
.load__bar--5-inv {
  animation-delay: 1s;
  animation-direction: alternate-reverse;
  background-image: linear-gradient(to top, #FF79DA, #9356dc, #99E2D0);
}

.search {
  display: block;
}

.location-search {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgb(235, 235, 235);
  box-shadow: inset 0 3px 3px rgb(190, 190, 190);
  padding: 20px;
}

.fa-location-dot {
  display: flex;
  justify-content: center;
}

.text-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  background-color: rgb(248, 248, 248);
  padding: 40px;
}

.function-menu {
  display: block;
  margin: 40px 15px 15px 15px;
}

.bloc-function {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 5px;
  margin-top: 15px;
}
.bloc-function i {
  padding-right: 20px;
}

.numb-btn-function {
  position: absolute;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background-color: #9356DC;
  display: grid;
  align-items: center;
  transform: translate(-125%, -30%);
}

#restaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: rgb(248, 248, 248);
}
#restaurants h1 {
  margin-left: 15px;
}
#restaurants .bloc-rest {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 5px;
  margin-top: 15px;
}
#restaurants .card-rest {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 15px;
  height: 225px;
  border-radius: 20px;
}
#restaurants .card-rest .new-ad {
  position: absolute;
  right: 12px;
  top: 12px;
  background: #99E2D0;
  border-radius: 3px;
  padding: 5px 10px;
  transition: all 1s;
}
#restaurants .card-rest .new-ad p {
  font-weight: bold;
  color: #99E2D0;
  filter: brightness(60%);
}
#restaurants .card-rest .card-rest-img {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  max-height: 250px;
  flex-grow: 1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}
#restaurants .card-rest .card-rest-img .img-rest {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  height: 70%;
}
#restaurants .card-rest .card-rest-img h2, #restaurants .card-rest .card-rest-img p {
  text-align: left;
  margin-left: 15px;
}
#restaurants .card-rest:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}
#restaurants .card-rest:hover .new-ad {
  animation: shake 200ms ease-in-out 2;
}
#restaurants .card-rest .heart-icon {
  position: absolute;
  bottom: 3px;
  right: 20px;
  cursor: pointer;
  width: 25px;
}
#restaurants .card-rest .heart-icon path {
  fill: transparent;
  stroke-width: 6;
  stroke: rgb(0, 0, 0);
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
}
#restaurants .card-rest .heart-icon path:active {
  animation: heart-anim 2s ease-in-out forwards;
}
#restaurants .card-rest .card-rest-img-text {
  margin: 15px 15px 0 15px;
}

.menu h1 {
  font-family: Shrikhand, sans-serif;
  font-size: 25px;
}
.menu h2 {
  font-size: 20px;
  font-weight: lighter;
  opacity: 0.6;
  margin: 20px 0 0 5px;
  position: relative;
  width: 40px;
}
.menu h2::after {
  content: "";
  height: 2px;
  width: 85%;
  position: absolute;
  background: #99E2D0;
  bottom: -8px;
  left: 0;
  max-width: 100px;
}
.menu h3 {
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu p {
  font-size: 16px;
  color: black;
}
.menu .btn-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(248, 248, 248);
  padding: 40px;
}
.menu .btn-order .btn-gradient {
  margin: 0;
}
.menu .rest-img {
  height: 45vw;
}
.menu .rest-img img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
.menu .menu-dishes {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(248, 248, 248);
  border-radius: 35px 35px 0 0;
  padding: 15px 15px;
}
.menu .menu-dishes .rest-title {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}
.menu .menu-dishes .rest-title .heart-icon {
  cursor: pointer;
  width: 30px;
}
.menu .menu-dishes .rest-title .heart-icon path {
  fill: transparent;
  stroke-width: 6;
  stroke: rgb(0, 0, 0);
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
}
.menu .menu-dishes .rest-title .heart-icon path:active {
  animation: heart-anim 2s ease-in-out forwards;
}
.menu .menu-dishes .bloc-dishes {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 20px 0;
  border-radius: 20px;
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.menu .menu-dishes .bloc-dishes .dishes-text {
  width: 100%;
  min-width: 0;
}
.menu .menu-dishes .bloc-dishes .dishes-text div {
  display: flex;
  justify-content: space-between;
  margin: 8px 15px;
}
.menu .menu-dishes .bloc-dishes .dishes-text div .dishes-details {
  opacity: 0.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .menu-dishes .bloc-dishes .dishes-text div .dishes-price {
  font-weight: bold;
  margin-left: 10px;
}
.menu .menu-dishes .bloc-dishes .dishes-check {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #99E2D0;
  width: 0%;
  border-radius: 0 20px 20px 0;
  transition: all 2s;
  transform: translateX(100%);
}
.menu .menu-dishes .bloc-dishes .dishes-check i {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 20px;
  transition: all 1s;
}
.menu .menu-dishes .bloc-dishes:active .dishes-check {
  width: 25%;
  transform: translateX(0);
}
.menu .menu-dishes .bloc-dishes:active i {
  visibility: visible;
  transform: rotate(-360deg);
}
.menu .appear_01 {
  animation: appear 1.2s both;
}
.menu .appear_02 {
  animation: appear 2.2s 0.5s both;
}
.menu .appear_03 {
  animation: appear 2.7s 1s both;
}
.menu .main-appear_01 {
  animation: appear 1s both;
}
.menu .main-appear_02 {
  animation: appear 2s both;
}
.menu .main-appear_03 {
  animation: appear 2.5s both;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(60, 60, 60);
  padding: 25px;
  padding-top: 20px;
  gap: 10px;
}
footer a {
  color: white;
}
footer i {
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
