.function-menu{
    display: block;
    margin: 40px 15px 15px 15px;
}

.bloc-function{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 5px;
    margin-top: 15px;
}