.menu {

    & h1 {
        font-family: Shrikhand, sans-serif;
        font-size: 25px;
    }

    & h2 {
        font-size: 20px;
        font-weight: lighter;
        opacity: 0.6;
        margin: 20px 0 0 5px;
        position: relative;
        width: 40px;

        &::after {
            content: "";
            height: 2px;
            width: 85%;
            position: absolute;
            background: $clr-tertiary;
            bottom: -8px;
            left: 0;
            max-width: 100px;
        }
    }

    & h3 {
        font-family: Roboto, sans-serif;
        color: black;
        font-size: 18px;
        font-weight: bold;
        margin: 15px 0 0 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & p {
        font-size: 16px;
        color: black;
    }

    & .btn-order {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: $clr-bgd-scd;
        padding: 40px;

        & .btn-gradient {
           margin: 0;  
        }
    }

    & .rest-img {
        height: 45vw;

        & img {
            width: 100%;
            max-height: 200px;
            object-fit: cover;
        }
    }

    & .menu-dishes {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: $clr-bgd-scd;
        border-radius: 35px 35px 0 0;
        padding: 15px 15px;

        & .rest-title {
            display: flex;
            justify-content: space-between;
            padding-right: 15px;

            & .heart-icon {
                cursor: pointer;
                width: 30px;
            }
        }

        & .bloc-dishes {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            margin: 20px 0 20px 0;
            border-radius: 20px;
            width: 100%;
            background-color: white;
            @include box-shadow;
            overflow: hidden;

            & .dishes-text {
                width: 100%;
                min-width: 0;

                & div {
                    display: flex;
                    justify-content: space-between;
                    margin: 8px 15px;

                    & .dishes-details {
                        opacity: 0.6;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    & .dishes-price {
                        font-weight: bold;
                        margin-left: 10px;
                    }
                }
            }

            & .dishes-check {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background-color: $clr-tertiary;
                width: 0%;
                border-radius: 0 20px 20px 0;
                transition: all 2s;
                transform: translateX(100%);

                & i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    visibility: hidden;
                    color: $clr-tertiary;
                    background-color: white;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    font-size: 20px;
                    transition: all 0.9s;
                }
            }

            &:active .dishes-check {
                width: 30%;
                transform: translateX(0);
            }

            &:active i {
                visibility: visible;
                transform: rotate(-360deg);
                animation: stop-rotate 1s forwards;
            }
        }

    }

    & .appear {

        &_01 {
            animation: appear 1.2s both;
        }

        &_02 {

            animation: appear 2.2s 0.5s both;
        }

        &_03 {
            animation: appear 2.7s 1s both;
        }
    }

    & .main-appear {

        &_01 {
            animation: appear 1s both;
        }

        &_02 {
            animation: appear 2s both;
        }

        &_03 {
            animation: appear 2.5s both;
        }
    }

}