#restaurants {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: $clr-bgd-scd;

    & h1 {
        margin-left: 15px;
    }

    & .bloc-rest {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        padding: 5px;
        margin-top: 15px;
    }

    & .card-rest {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        margin-left: 15px;
        height: 225px;
        border-radius: 20px;

        & .new-ad {
            position: absolute;
            right: 12px;
            top: 12px;
            background: $clr-tertiary;
            border-radius: 3px;
            padding: 5px 10px;
            transition: all 1s;

            & p {
                font-weight: bold;
                color: $clr-tertiary;
                filter: brightness(60%);
            }

        }

        & .card-rest-img {
            width: 100%;
            background-color: #fff;
            border-radius: 20px;
            max-height: 250px;
            flex-grow: 1;
            @include box-shadow;
            transition: transform 0.5s ease-in-out;
            cursor: pointer;

            & .img-rest {
                width: 100%;
                border-radius: 20px 20px 0 0;
                object-fit: cover;
                height: 70%;
            }

            & h2,
            p {
                text-align: left;
                margin-left: 15px;
            }

        }

        &:hover {
            transform: scale(1.02);
            @include box-shadow-hover;

            & .new-ad {
                animation: shake 200ms ease-in-out 2;
            }
        }

        & .heart-icon {
            position: absolute;
            bottom: 3px;
            right: 20px;
        }

        & .card-rest-img-text {
            margin: 15px 15px 0 15px;
        }
    }
}

@media screen and (min-width: 1150px) {

    #restaurants {
        align-content: center;
        align-items: center;

        .bloc-rest {
            flex-wrap: unset;
            gap: 1px;

            .card-rest {
                flex-direction: unset;
                width: 50%;

                & .heart-icon {
                    bottom: 20px;
                }
            }
        }
    }

}