#restaurants {
    display: block;
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: rgb(248, 248, 248);
}

#restaurants h1 {
    margin-left: 15px;
}

.bloc-rest {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    padding: 5px;
    margin-top: 15px;
}

.card-rest {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
    height: 225px;

}

.card-rest-img {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    max-height: 250px;
    flex-grow: 1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    /*changer plus tard en variable - $btn-shadow*/
    transition: transform 0.5s ease-in-out;
    cursor: pointer;

    & p {
        text-align: left;
        margin-left: 15px;
    }

    &:hover {
        transform: scale(1.02);
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
        /*changer plus tard en variable - $btn-shadow-hover*/
    }

    & i {
        font-size: 25px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color:rgba(0, 0, 0);
        color: transparent;
        background: linear-gradient(to right, #fff 50%, transparent 50%), linear-gradient(to bottom right, $clr-secondary, $clr-primary);
        background-clip: text;
        -webkit-background-clip: text;
        background-size: 210%;

        &:hover {
            background-position: 100%;
            transition: all 1s ease-in-out;
            -webkit-text-stroke-width: 0;
            
        }
    }
}

.img-rest {
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    height: 70%;
}

.card-rest-img-text {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 15px 15px 0 15px;
}